.App {
  padding: 16px;
}

.App summary {
  padding: 24px;
  cursor: pointer;
}

.HighlightedText {
  padding: 4px;
  font-size: 75%;
  width: fit-content;
  margin: 0 2px;
}
.ErrorText {
  background-color: red;
  color: white;
}
.WarningText {
  background-color: goldenrod;
  color: white;
}
